<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>DIGITAL-IMMAT SYSTEMS REST API</title>
    <link rel="shortcut icon" href="public/static/images/shell.ico" type="image/x-icon">
    <link rel="stylesheet" href="public/static/css/note.css">
  </head>
  <body>
    <span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <table role="presentation" class="main">
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <h3 style="font-weight: bold; text-align: center">{{ project_name }}</h3>
                        <p>You can find here the documentation for {{ project_name }}. To access the documentation interfaces,
                            please click on one of the buttons below.
                        </p>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href={{ redocli_doc_login_url }} style="background-color: #1d3342; border-color: #1d3342; color: #ffffff;" href="http://htmlemail.io" target="_blank">REDOC UI</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td align="right">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href={{ swagger_doc_login_url }} style="background-color: #1a6e3a; border-color: #1a6e3a; color: #ffffff; " target="_blank">SWAGGER UI</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p style="text-align: center; font-weight: bold;">Thank you for the interest !</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="footer">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">THE DEV TEAM</span>
                    <!-- <br> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>. -->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>